.popup__close-button {
    background: transparent url("../../../images/cross.svg") center center/cover
        no-repeat;
    padding: 0;
    border: none;
    position: absolute;
    transform: rotate(45deg);
    width: 35px;
    height: 35px;
    right: -40px;
    top: -30px;
    transition: opacity ease 0.3s;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}
