.element__button_favourite {
    position: absolute;
    width: 45px;
    height: 42px;
    border: none;
    padding: 0;
    background-color: white;
    top: 0;
    right: 0;
    transition: opacity ease 0.3s;
    cursor: pointer;
    background-image: url("../../../../images/favourite.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.element__button_favourite:hover {
    opacity: 0.5;
}
