    .header__form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        grid-area: form;
        position: relative;
        width: 93.75%;
        margin: 0 auto;
    }
    
    @media screen and (min-width: 500px) {
        .header__form {
            margin-left: auto;
            margin-right: auto;
            width: 500px;
        }
    }
    
    @media screen and (min-width: 1024px) {
        .header__form {
            margin-top: 45px;
            width: 327px;
        }
    }
    
    @media screen and (min-width: 1200px) {
        .header__form {
            width: 450px;
        }
    }
    
    @media screen and (min-width: 14400px) {
        .header__form {
            width: 550px;
        }
    }