.product-menu__list {
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 50px 0 0 0;
    display: block;
    transition: display ease 10s;
    min-width: 350px;
}

.product-menu__list_inactive {
    display: none;
}

.product-menu__item {
    margin-bottom: 30px;
}

.product-menu__link {
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-decoration: none;
    cursor: pointer;
}

.product-menu__link:hover {
    opacity: 0.5;
}
