.product-page {
    width: 850px;
    margin: 50px auto 0 auto;
    display: flex;
    padding: 50px 0;
    box-shadow: 0px 4px 9px #d3d3d3;
    border-radius: 22px;
    background-color: white;
}

@media screen and (min-width: 1440px) {
    .product-page {
        width: 1000px;
    }
}
