.header__logo-wrapper {
    display: flex;
    flex-direction: column;
    grid-area: logo-wrapper;
}

@media screen and (min-width: 1024px) {
    .header__logo-wrapper {
        position: absolute;
        top: 15px;
        left: 65px;
    }
}