.popup__container {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    width: 600px;
    height: 500px;
}

@media screen and (min-width: 1024px) {
    .popup__container {
        width: 600px;
    }
}
